fastapi==0.115.6
aiogram==3.17.0
aio-pika==9.5.4
SQLAlchemy==2.0.37
uvicorn==0.34.0
pydantic-settings==2.7.1
pydantic==2.10.4
psutil==6.1.1
asyncpg==0.29.0
greenlet
grpcio==1.62.1
grpcio-tools==1.62.1